@model SuperheroCreator.Models.Superhero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Superhero</h4>
<hr />
<article>
    <img src="~/lib/Images/king-lip-O7f0_2PmuK8-unsplash.jpg" class="col-md-4">
</article>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlterEgoFirstName" class="control-label">Atler Ego First Name</label>
                <input asp-for="AlterEgoFirstName" class="form-control" />
                <span asp-validation-for="AlterEgoFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlterEgoLastName" class="control-label">Atler Ego Last Name</label>
                <input asp-for="AlterEgoLastName" class="form-control" />
                <span asp-validation-for="AlterEgoLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ability" class="control-label"></label>
                <input asp-for="Ability" class="form-control" />
                <span asp-validation-for="Ability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondAbility" class="control-label">Second Ability</label>
                <input asp-for="SecondAbility" class="form-control" />
                <span asp-validation-for="SecondAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catchphrase" class="control-label"></label>
                <input asp-for="Catchphrase" class="form-control" />
                <span asp-validation-for="Catchphrase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
